body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1084px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 320px;
  }
}

a:focus {
  border: none;
  text-decoration: none;
  outline: none;
}
